<div class="container-fluid">
  <div class="container">
    <h2>Qui suis-je?</h2>
    <div class="text">
      <p>
        Sit Lorem elit consequat Lorem dolore ad duis ullamco reprehenderit. Et anim nulla dolore fugiat excepteur
        ullamco nostrud excepteur non. Duis mollit duis cillum ex. Elit minim occaecat pariatur anim officia mollit
        proident dolore adipisicing commodo voluptate enim ut. Sit proident proident elit proident deserunt eiusmod
        laboris. Sint amet aute id occaecat irure ipsum.
      </p>
      <p>
        Et id irure ullamco eu elit. Excepteur anim labore irure laborum nisi proident nulla laboris ea amet enim. Ea ad
        anim enim tempor labore minim eu.
      </p>
      <p>
        Elit mollit elit sint nulla cupidatat excepteur proident aliquip pariatur dolore do aute non est. Ex ea ex
        aliqua elit laborum. Consectetur laboris esse aute ad et adipisicing tempor incididunt id id. Nostrud aute dolor
        consectetur Lorem quis aliquip minim ipsum est id incididunt quis officia labore. Cillum ad excepteur Lorem
        proident et aliqua. Eu pariatur magna fugiat officia sunt ullamco.
      </p>
    </div>
    <img src="~/assets/bulleplume.png" alt="Bulle et plume" class="bulle-plume" />
  </div>
</div>
<app-contact-btn></app-contact-btn>
