<div class="bg-secondary d-grid text-center">
  <div class="text-img"></div>
  <div class="text p-4 px-md-5 d-flex flex-column justify-content-center align-items-center">
    <h2 class="text-primary">Contact et tarifs</h2>
    <p>
      Je vous accueille dans mon cabinet à <span class="text-primary">Sainte Anne sur Vilaine</span> et je vous propose
      également de me <span class="text-primary">déplacer à domicile</span>.
    </p>
    <p>Prise de rendez-vous du <span class="text-primary">Lundi au Samedi</span>.</p>
  </div>
  <div class="contact p-4 d-flex flex-column justify-content-center align-items-center">
    <h3 class="text-primary">Diane de Sagazan</h3>
    <p>55, Entrelandes</p>
    <p>35 390 Sainte Anne sur Vilaine</p>
    <p class="text-truncate">diane.desagazan@gmail.com</p>
  </div>
  <div class="tarif p-4 d-flex flex-column justify-content-center align-items-center">
    <h4 class="text-primary">Tarif séance de Kinésiologie</h4>
    <p>En cabinet: <span class="text-primary">50 €</span></p>
    <p>A domicile: <span class="text-primary">60 €</span></p>
    <h4 class="text-primary">Tarif séance de Reiki</h4>
    <p>En cabinet: <span class="text-primary">40 €</span></p>
    <p>A domicile: <span class="text-primary">50 €</span></p>
  </div>
</div>
