<div class="container-fluid">
  <img src="assets/circle.png" alt="Circle" class="full-page" />
  <div class="container">
    <h2>Contact et tarifs</h2>
    <img src="assets/bureau.png" alt="Bureau" class="img-float" />
    <div class="text">
      <p>
        Ipsum veniam quis est adipisicing duis velit anim quis. Culpa eu qui labore sint ex laboris nisi. In tempor anim
        incididunt culpa Lorem officia culpa sunt Lorem ut in exercitation eu. Sunt ea amet ullamco in reprehenderit
        anim exercitation ad adipisicing. Velit exercitation dolor esse deserunt et. Proident ut voluptate magna ipsum
        eiusmod ex aute. Minim dolore cupidatat duis est Lorem ut culpa consequat nulla reprehenderit magna enim qui.
      </p>
      <p>
        Consectetur ipsum ipsum qui eiusmod aute. Dolore est occaecat officia aliquip dolore aliquip quis adipisicing in
        Lorem proident consectetur tempor magna. Elit ipsum in ut irure quis quis. Qui consequat amet minim quis qui
        voluptate esse eu eu do irure deserunt aliqua. Ad ea anim deserunt ex sint anim ad ipsum id duis mollit. Aliquip
        et in enim sint sit id aliquip elit incididunt laborum enim.
      </p>
      <p>
        Duis aute enim in voluptate dolor culpa sint ut reprehenderit nostrud. Irure velit mollit sint veniam sint
        labore exercitation. Amet ad id consequat non proident dolor ipsum. Pariatur elit qui ut ullamco. Do officia qui
        veniam et labore in esse occaecat. Incididunt sit officia dolore aute exercitation. Proident dolor cupidatat
        Lorem reprehenderit velit ea dolore id est est id laboris consectetur amet.
      </p>
      <p>
        Velit esse magna tempor et laboris est aliqua non. Dolor non voluptate et voluptate excepteur labore qui ipsum.
        Qui officia elit ea aliqua aliquip. Veniam excepteur Lorem est voluptate veniam deserunt cupidatat. Aliqua
        aliquip non ipsum ea mollit fugiat anim consectetur ullamco et culpa dolor veniam labore. Sunt incididunt
        commodo labore ullamco ad eu ipsum anim. Ut aute dolore consequat deserunt irure sit sunt.
      </p>
      <p>
        Ullamco ad minim aliquip veniam mollit Lorem deserunt veniam. Aliquip adipisicing consequat velit duis eiusmod
        proident enim enim est. Non commodo laborum deserunt sint fugiat sit deserunt ex id sint qui. Voluptate esse
        amet et id consequat aliquip aute Lorem sunt culpa sit. Commodo ex dolor Lorem eu culpa consequat ipsum eiusmod
        dolore est. Excepteur deserunt veniam excepteur velit qui excepteur est irure nisi elit veniam.
      </p>
    </div>
  </div>
</div>
