<div class="container-fluid">
  <img src="assets/circle.png" alt="Circle" class="full-page" />
  <div class="container">
    <h2>Contact et tarifs</h2>
    <img src="assets/bureau.png" alt="Bureau" class="img-float" />
    <div class="text">
      <p>Je vous accueille dans mon cabinet à <b>Sainte Anne sur Vilaine</b> et je vous propose également de me <b>déplacer à domicile</b>.</p>
      <p>Prise de rendez-vous du <b>Lundi au Samedi</b>.</p>

      <div class="contact">
        <h3>Diane de Sagazan</h3>

      </div>
    </div>
  </div>
</div>
