@import "src/theme/theme-variables";

.container {
  min-height: 35vh;
  padding: 2em 0;

  img,
  .text {
    max-width: 45%;
  }
}

.d-grid {
  display: grid;
  grid-template-rows: 50vh 50vh;
  grid-template-columns: 50% 50%;
  width: 100%;
  margin-bottom: -20px;

  @media (max-width: 576px) {
    grid-template-rows: 100vw 100vw 100vw 100vw;
    grid-template-columns: 100%;
  }

  .text-img {
    background-image: url("src/assets/bureau.jpg");
    background-size: cover;
  }

  .contact {
    background-color: #96bd9e;
  }

  .tarif {
    background-color: $primary;

    h4,
    .text-primary {
      color: $secondary !important;
    }
  }

  h3,
  h4 {
    margin: 0.5em 0 !important;
  }
}
