/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */
.how-who-container {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.page-title {
  font-family: "Abel", sans-serif !important;
  color: $black;

  .text-small {
    position: relative;
    font-size: 0.8em;

    &::before {
      content: "";
      position: absolute;
      background-color: $blue-light;
      height: 2px;
      width: 50px;
    }
  }
}

.top-left {
  height: 30vh;
  position: fixed;
  max-width: 100%;
  top: 15%;
  opacity: 0.6;
  z-index: -1;
  left: 10%;
}

.full-page {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}
