/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */
.how-who-container {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.page-title {
  font-family: "Abel", sans-serif !important;
  color: $black;

  .text-small {
    position: relative;
    font-size: 0.8em;

    &::before {
      content: "";
      position: absolute;
      background-color: $blue-light;
      height: 2px;
      width: 50px;
    }
  }
}
