<router-outlet></router-outlet>

<ng-template #content let-modal>
  <div class="modal-header cookie-header d-flex flex-column justify-content-center align-items-center">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true" class="text-white">&times;</span>
    </button>
    <span class="cookie-head">Cookies</span>
  </div>
  <div class="modal-body text-center text-white px-5 py-4 text-black-50">
    En poursuivant votre navigation, vous acceptez l'utilisation de cookies et autres traceurs servant à mesurer
    l'audience et à comprendre votre navigation.
  </div>
  <div class="modal-footer d-flex justify-content-center align-items-center">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.close('Save click')">J'accepte</button>
  </div>
</ng-template>
