<div class="container-fluid">
  <img src="assets/plume.png" alt="plume" class="full-page plume" />
  <div class="container">
    <h2>Les soins Energétiques</h2>
    <h3>{{ title }}</h3>
    <p>
      Commodo nostrud exercitation ullamco culpa dolor deserunt. Velit sint incididunt commodo ipsum qui proident mollit
      mollit pariatur dolor duis eu non officia. Magna minim eu qui cupidatat ex do. Mollit aliquip ad mollit fugiat.
      Pariatur magna dolore non do officia ad Lorem commodo consectetur sunt cillum. Consequat sunt veniam eiusmod irure
      voluptate pariatur nostrud eiusmod exercitation. Voluptate commodo sunt laboris enim enim aliqua duis consectetur
      minim.
    </p>
    <p>
      Quis elit consequat Lorem esse fugiat labore do. Adipisicing ullamco voluptate adipisicing laboris. Labore
      incididunt occaecat Lorem consectetur qui ullamco. Quis reprehenderit irure eiusmod do labore tempor voluptate.
    </p>
  </div>
</div>
<app-contact-btn></app-contact-btn>
