@import "src/theme/theme-variables";

.top-left {
  height: 30vh;
  position: fixed;
  max-width: 100%;
  top: 15%;
  opacity: 0.6;
  z-index: -1;
  left: 10%;
}

.card {
  border: none;
  opacity: 0;
  transition: 1s all ease-in;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  &.active {
    opacity: 1;
  }
}

.card-body {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
}

.card-title {
  color: $blue;
  text-align: center;
  margin: 0;
  position: relative;

  &::after,
  &::before {
    content: "";
    height: 5px;
    width: 4rem;
    position: absolute;
    background-color: $blue;
    left: calc(50% - 2rem);
  }

  &::before {
    bottom: -1rem;
  }

  &::after {
    top: -1rem;
  }
}
