@import "src/theme/theme-variables";

:host {
  z-index: 10;

  .navbar {
    margin-bottom: $spacer;

    .navbar-toggler-icon {
      filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(156deg) brightness(50%) contrast(80%);
    }

    .navbar-toggler {
      border-color: $primary;

      &:focus {
        outline-color: $primary;
      }
    }

    &.bg-primary {
      box-shadow: 0 3px 2px -1px rgba(0, 0, 0, 0.2), 0 2px 1px 0 rgba(0, 0, 0, 0.14), 0 6px 3px 0 rgba(0, 0, 0, 0.12);
      position: fixed;
      background-color: $white-app !important;
      left: 0;
      right: 0;
    }

    .navbar-brand {
      color: $primary;
      font-weight: bold;
      font-size: 1.5em;

      img {
        height: 42px;
      }
    }
  }
  .navbar-nav {
    .navbar-toggler-icon {
      filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(156deg) brightness(50%) contrast(80%);
    }
    .nav-link {
      color: $blue-light;
      font-weight: bold;
      font-size: 1.1rem;

      &.active,
      &:hover {
        color: $primary;
      }
    }

    .nav-link.dropdown-toggle {
      cursor: pointer;
    }

    .dropdown-menu {
      border: none;
      width: 100%;
      background-color: $white-app;
      box-shadow: 0 3px 2px -1px rgba(0, 0, 0, 0.2), 0 2px 1px 0 rgba(0, 0, 0, 0.14), 0 6px 3px 0 rgba(0, 0, 0, 0.12);

      .dropdown-item {
        color: $blue-light;
        font-weight: bold;
        text-transform: uppercase;

        &:hover,
        &.active {
          color: $primary;
          background-color: transparent;
        }
      }
    }
  }
}
