/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

// Theme customization
@import "theme/theme";

.modal-content {
  border-radius: 2rem 0.3rem;
  background-image: url(assets/cookies.jpeg);
  background-size: cover;
  width: 350px;

  .modal-cookie-head {
    color: $cookie;
    font-size: 1.8rem;
    font-weight: bold;
  }

  .btn-cookie {
    color: $white;
    background-color: $cookie;
    border-color: $cookie;
    width: 100%;
    text-transform: uppercase;

    &:hover,
    &:focus,
    &:active {
      color: $white;
      background-color: $cookie;
      border-color: $cookie;
    }
  }

  .modal-header,
  .modal-footer {
    border: none;
  }

  .modal-body {
    margin-top: 160px;
  }

  .close {
    color: $cookie !important;
    outline: none;
    opacity: 1;
  }

  .modal-footer {
    border-radius: 0 0 1.9rem 0.2rem;
  }
}

.full-page {
  max-height: calc(100vh - 70px);
  position: fixed;
  max-width: 100%;
  top: 50%;
  bottom: 0;
  opacity: 0.6;
  z-index: -1;
  left: 42%;
  transform: translate(-50%, -50%);

  &.bulle {
    height: 50vh;
    top: 70%;
    left: 84%;
  }

  &.plume {
    height: 40vh;
    top: 50%;
    left: 81%;
  }
}

p,
.primary-bullet li {
  font-size: 1.3em;
  text-align: justify;
}

ul.primary-bullet {
  list-style: none; /* Remove default bullets */
  padding-left: 25px;

  li::before {
    content: "\25CF"; /* Add content: \25CF is the CSS Code/unicode for a bullet */
    color: $secondary; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
    margin-right: 0.5em;
  }
}

.img-float {
  float: right;
  margin: 1.5em;
  width: 50%;
  border-radius: 7px;
  box-shadow: 0 3px 2px -1px rgba(0, 0, 0, 0.2), 0 2px 1px 0 rgba(0, 0, 0, 0.14), 0 6px 3px 0 rgba(0, 0, 0, 0.12);

  @media (min-width: 768px) {
    width: 33%;
    margin: 3em;
  }

  @media (min-width: 1200px) {
    width: 25%;
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin: 1.5em 0 !important;
  color: $secondary;
  font-weight: 900;
}

body {
  background-color: $primary;
  color: $white;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

b {
  color: $secondary;
}
