<!-- Footer -->
<footer class="page-footer font-small pt-4">
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
        <!-- Content -->
        <h5 class="text-uppercase">Diane de Sagazan</h5>
        <span>Kinésiologue sur Rennes.</span>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none pb-3" />

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-uppercase">Liens</h5>

        <ul class="list-unstyled">
          <li>
            <a routerLink="/">Accueil</a>
          </li>
          <li>
            <a routerLink="/kinesiologie">La Kinesiologie</a>
          </li>
          <li>
            <a routerLink="/histoire">Mon Histoire</a>
          </li>
          <li>
            <a routerLink="/contact">Contact et Tarif</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-uppercase">Autres liens</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Mention légales</a>
          </li>
          <li>
            <a href="#!">Plan du site</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © {{ year }} Copyright:
    <a href="https://joelchrabie.com/"> joelchrabie.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
