<!-- Footer -->
<footer class="page-footer font-small pt-4">
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
        <!-- Content -->
        <div class="d-flex justify-content-center align-items-center">
          <img src="assets/logo.png" alt="Logo" class="mr-2 logo" />
          <div class="d-flex flex-column page-title pl-5 align-items-baseline">
            <span>Diane</span>
            <span class="text-small"> de Sagazan</span>
          </div>
        </div>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none pb-3" />

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-uppercase my-2">Liens</h5>

        <ul class="list-unstyled">
          <li *ngFor="let link of links">
            <a [routerLink]="[link.url]">{{ link.name }}</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-uppercase my-2">Autres liens</h5>

        <ul class="list-unstyled">
          <li *ngFor="let otherLink of otherLinks">
            <a [routerLink]="[otherLink.url]">{{ otherLink.name }}</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © {{ year }} Copyright:
    <a href="https://joelchrabie.com/"> joelchrabie.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
