@import "src/theme/theme-variables";

footer {
  background-color: $gold-light;
  color: $black;

  h5 {
    color: $blue;
  }

  a {
    color: $black;
    text-decoration: none;
  }

  a:hover {
    color: rgba(255, 255, 255, 0.75);
  }
}

.footer-copyright {
  background-color: $gray-800;
  color: white;

  a {
    color: $gold;
    font-weight: bold;
  }
}
