@import "src/theme/theme-variables";

footer {
  background-color: $white-app;
  color: $primary;

  .page-title {
    font-size: 3em;
  }

  h5 {
    color: $secondary;
  }

  a {
    color: $primary;
    text-decoration: none;
  }

  a:hover {
    color: rgba(255, 255, 255, 0.75);
  }
}

.footer-copyright {
  background-color: $gray-800;
  color: $white-app;

  a {
    color: $secondary;
    font-weight: bold;
  }
}
