@import "src/theme/theme-variables";

:host {
  .page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }

  main {
    margin: 90px 0 20px;
  }
}
