<div class="container-fluid">
  <div class="container">
    <h2>Accueil</h2>
    <img src="assets/avatar.jpg" alt="Avatar" class="img-float" />
    <div class="text">
      <p>
        Pariatur proident adipisicing ea exercitation officia commodo sint ut eu adipisicing. Ut sint commodo duis
        commodo eu. Velit dolore ad excepteur voluptate quis ea labore fugiat cupidatat enim incididunt fugiat elit
        ullamco. Non id aliqua amet in ullamco deserunt mollit proident exercitation sunt ea elit.
      </p>
      <p>
        Et exercitation irure sunt qui amet aliquip occaecat aliquip voluptate. Et Lorem ullamco aute adipisicing duis
        elit ipsum ullamco excepteur aliqua id. Sit eiusmod laboris id veniam consectetur reprehenderit ex fugiat aute
        dolor elit sit occaecat. Eu proident ex duis occaecat non nisi. Dolore deserunt elit aliqua voluptate esse
        voluptate.
      </p>
      <p>
        Aute nisi eu velit occaecat veniam excepteur. Enim voluptate qui nulla exercitation anim anim incididunt in
        ipsum est cupidatat occaecat eiusmod. Ipsum sunt Lorem adipisicing non incididunt eu deserunt cupidatat laborum
        nostrud ad anim. Elit cillum labore esse qui duis incididunt ex reprehenderit fugiat nulla.
      </p>
      <p>
        Ut et Lorem labore velit est est eu excepteur irure anim. Consectetur labore officia ex quis consectetur
        occaecat occaecat culpa. Veniam dolor reprehenderit cupidatat aute elit.
      </p>
      <p>
        Amet dolor in irure pariatur esse. Aliqua id irure et ut commodo esse ea aliquip aliqua. Labore aute sit nisi
        irure adipisicing deserunt sit ad velit. Aliqua aliqua commodo commodo sunt.
      </p>
      <p>
        Aute excepteur sint enim irure officia ipsum qui sunt do esse. Dolore est duis amet occaecat. Ea id labore
        aliqua quis proident in dolore aliquip velit. Incididunt reprehenderit aute exercitation enim consectetur dolor
        Lorem id aliquip.
      </p>
      <p>
        Velit incididunt nisi est labore anim excepteur aliqua fugiat. Tempor aliqua laborum consectetur sit labore sint
        ipsum do quis. Nostrud Lorem do nulla exercitation ullamco duis sunt aute dolore fugiat id excepteur et. Eu sit
        voluptate dolore nostrud aute reprehenderit officia pariatur ut. Et sit Lorem esse eu est eu. Sint do magna
        fugiat qui duis sint sit amet elit voluptate laboris consequat anim. Ex labore amet labore ipsum laboris dolor
        laborum deserunt proident labore consectetur eiusmod proident eiusmod.
      </p>
      <p>
        Eu amet laborum ea ipsum cupidatat cillum. Officia consectetur reprehenderit amet pariatur ut eu excepteur. Sit
        commodo anim voluptate nulla officia. Do nisi eiusmod ullamco non commodo officia cillum consectetur esse
        aliquip. Duis nisi dolor mollit deserunt officia incididunt do sint magna esse aute. Ex est fugiat occaecat
        mollit excepteur velit adipisicing amet ut do excepteur nostrud laborum. Reprehenderit eu nulla excepteur
        eiusmod consectetur irure occaecat cupidatat commodo esse.
      </p>
    </div>
  </div>
</div>
<app-contact-btn></app-contact-btn>
