<div class="bg-secondary d-grid text-center">
  <div class="text-img bg-primary d-flex justify-content-center align-items-center p-4">
    <q class="mx-lg-5 px-lg-5">Heureux est le corps qui travaille pour l'âme</q>
  </div>
  <div class="text p-4 px-md-5 d-flex flex-column justify-content-center align-items-center">
    <p>
      <b>Se libérer</b> des schémas limitants et des <b>émotions bloquées</b>, retrouver <b>le pouvoir du Choix</b> et
      se <b>reconnecter à Soi.</b>
    </p>
    <p><b>Rééquilibrer les énergies</b> et retrouver un bon <b>centrage</b>.</p>
    <p>
      Que ce soit via la <b>Kinésiologie</b> ou via le <b>Soin Énergétique</b>, je serais heureuse de vous accompagner
      sur ce beau chemin qu'est la mise en lumière de l'Être que vous êtes.
    </p>
  </div>
  <div class="contact p-4">
    <div class="row h-100">
      <a
        href="tel:06 62 10 57 98"
        class="col-md-6 col-sm-12 d-flex flex-md-column justify-content-md-center justify-content-start align-items-center"
      >
        <i class="fas fa-phone mb-md-2 mr-md-0 mr-2"></i>
        <p>06 62 10 57 98</p>
      </a>
      <a
        href="https://fr-fr.facebook.com/diane.desagazan"
        target="_blank"
        class="col-md-6 col-sm-12 d-flex flex-md-column justify-content-md-center justify-content-start align-items-center"
      >
        <i class="fab fa-facebook mb-md-2 mr-md-0 mr-2"></i>
        <p>Retrouvez-moi sur Facebook ...</p>
      </a>
      <a
        href="https://instagram.com/dianedesagazan"
        target="_blank"
        class="col-md-6 col-sm-12 d-flex flex-md-column justify-content-md-center justify-content-start align-items-center"
      >
        <i class="fab fa-instagram mb-md-2 mr-md-0 mr-2"></i>
        <p>... et sur Instagram</p>
      </a>
      <a
        class="col-md-6 col-sm-12 d-flex flex-md-column justify-content-md-center justify-content-start align-items-center"
        href="mailto:diane.desagazan@gmail.com"
      >
        <i class="fas fa-envelope mb-md-2 mr-md-0 mr-2"></i>
        <p>diane.desagazan@gmail.com</p>
      </a>
    </div>
  </div>
  <div class="photo"></div>
</div>
